WITH
PYM AS
    (SELECT TO_CHAR(C.TRANSFER_DATE,'yyyymm') TRANSFER_YILAY,
            TO_CHAR(P.PAYMENT_DATE,'yyyymm') PAYMENT_YILAY, 
             C.LAW_OFFICE_ID,--, C.ID CASE_ID,
            CASE WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 0 THEN '30'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 1 THEN '60'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 2 THEN '90'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 3 THEN '120'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 4 THEN '150'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 5 THEN '180'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 6 THEN '210'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 7 THEN '240'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 8 THEN '270'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 9 THEN '300'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 10 THEN '330'
                WHEN TO_CHAR(P.PAYMENT_DATE,'yyyymm') - TO_CHAR(C.TRANSFER_DATE,'yyyymm') = 11 THEN '360' END BASLIK,
            SUM(PD.PRINCIPAL) TAHSILAT ,
            SUM(SUM(PD.PRINCIPAL)) OVER (PARTITION BY TO_CHAR(C.TRANSFER_DATE,'yyyymm'), C.LAW_OFFICE_ID ORDER BY TO_CHAR(P.PAYMENT_DATE,'yyyymm')) RUNNING_SUM
            FROM
                BSCS_THEMIS.PAYMENT P,
                BSCS_THEMIS.PAYMENT_DISTRIBUTION PD,
                BSCS_THEMIS.CASE C,
                BSCS_THEMIS.LAW_OFFICE LA
                WHERE 1=1
                AND P.ID = PD.PAYMENT_ID
                AND C.ID = PD.CASE_ID
                AND C.LAW_OFFICE_ID=PD.CASE_LAW_OFFICE_ID
                AND C.LAW_OFFICE_ID=LA.ID
                AND PD.STATUS = 'A'
                AND P.STATUS = 'A'
                AND TO_CHAR(C.TRANSFER_DATE,'yyyy') = extract(year from sysdate)
                AND C.TRANSFER_DATE<=LAST_DAY (TO_DATE ('11','MM'))
                AND TO_CHAR(P.PAYMENT_DATE,'yyyy') = extract(year from sysdate)
                AND TO_CHAR(P.PAYMENT_DATE,'yyyymm') >= TO_CHAR(C.TRANSFER_DATE,'yyyymm')
                ---AND C.LAW_OFFICE_ID=189
        GROUP BY TO_CHAR(C.TRANSFER_DATE,'yyyymm'), TO_CHAR(P.PAYMENT_DATE,'yyyymm'), C.LAW_OFFICE_ID--, C.ID
    ),
    ASIL_ALACAK AS
    (SELECT /*+parallel(16)*/ SUM(CA.INITIAL_PRINCIPAL_AMOUNT+CA.INITIAL_INTEREST_AMOUNT)-SUM(NVL(GENEL_BASARI_PUANI,0)) ASIL_ALACAK, 
                    TO_CHAR(C.TRANSFER_DATE,'yyyymm') YILAY, 
                    C.LAW_OFFICE_ID LAW_OFFICE_ID, C.ID CASE_ID
                    FROM BSCS_THEMIS.CASE_AMOUNT CA, BSCS_THEMIS.CASE C, BSCS_THEMIS.LAW_OFFICE LA,BSCS_THEMIS.CASE_DETAIL CS, DASHBOARD.THEMIS_SC_DASH_PHUB PHB
                    WHERE C.LAW_OFFICE_ID= LA.ID
                    AND CA.CASE_ID=C.ID--ASIL ALACAK
                    AND CA.CASE_ID = CS.CASE_ID
                    ---AND C.LAW_OFFICE_ID=189
                     AND PHB.HUKUK_BUROSU_ID(+)=C.LAW_OFFICE_ID
                    AND PHB.YILAY(+)=TO_CHAR(C.TRANSFER_DATE,'yyyymm')
                    AND (CS.CASE_CLOSURE_TYPE_ID NOT IN(4,9,12,25,26,27) OR CS.CASE_CLOSURE_TYPE_ID IS NULL)
                    AND to_char(C.TRANSFER_DATE) >= TRUNC(SysDate,'YEAR') and to_char(TRANSFER_DATE)<=LAST_DAY (TO_DATE ('11','MM'))
                    GROUP BY TO_CHAR(C.TRANSFER_DATE,'yyyymm'),C.LAW_OFFICE_ID, C.ID
    ),
    ADJUSTMENT AS
    (SELECT /*+parallel(16)*/ C.LAW_OFFICE_ID , TO_CHAR(TRANSFER_DATE,'yyyymm') YILAY, SUM(IA.ADJUST_AMOUNT) ADJUST_AMT
                   ,C.ID CASE_ID
                    FROM BSCS_THEMIS.INVOICE INV, BSCS_THEMIS.INVOICE_ADJUSTMENT IA , BSCS_THEMIS.CASE C
                        WHERE INV.INVOICE_ID=IA.INVOICE_ID--adjustment
                        AND C.ID=INV.CASE_ID 
                        AND IA.PROCESSED='Y'
                        and to_char(C.TRANSFER_DATE) >= TRUNC(SysDate,'YEAR') and to_char(TRANSFER_DATE)<=LAST_DAY (TO_DATE ('11','MM'))
                        --AND  C.LAW_OFFICE_ID=189
                        GROUP BY  TO_CHAR(TRANSFER_DATE,'yyyymm'), LAW_OFFICE_ID, C.ID
    ),
    ASIL_ADJ_JOIN AS
    (
    SELECT 
        ASIL_ALACAK.YILAY YILAY,  ASIL_ALACAK.LAW_OFFICE_ID,
        SUM(ASIL_ALACAK.ASIL_ALACAK - NVL(ADJUSTMENT.ADJUST_AMT,0)) ASIL_ALACAK
        FROM ASIL_ALACAK, ADJUSTMENT
        WHERE 1=1
        AND ASIL_ALACAK.YILAY=ADJUSTMENT.YILAY(+)
        AND ASIL_ALACAK.LAW_OFFICE_ID=ADJUSTMENT.LAW_OFFICE_ID(+)
        AND ASIL_ALACAK.CASE_ID=ADJUSTMENT.CASE_ID(+)
            GROUP BY ASIL_ALACAK.YILAY,ASIL_ALACAK.LAW_OFFICE_ID
    ),
    ANA_TABLO AS
    (
     SELECT ASIL_ADJ_JOIN.YILAY TRANSFER_YILAY, PYM.PAYMENT_YILAY, ASIL_ADJ_JOIN.LAW_OFFICE_ID,
            PYM.BASLIK, ASIL_ADJ_JOIN.ASIL_ALACAK,
            PYM.TAHSILAT, PYM.RUNNING_SUM,
            (PYM.RUNNING_SUM/ASIL_ADJ_JOIN.ASIL_ALACAK) PERFORMANS_ORANI
     FROM ASIL_ADJ_JOIN, PYM
     WHERE 1=1
        AND ASIL_ADJ_JOIN.YILAY=PYM.TRANSFER_YILAY
        AND ASIL_ADJ_JOIN.LAW_OFFICE_ID=PYM.LAW_OFFICE_ID    
    ),
    ANA_TABLO_JOIN AS
    (
     SELECT DISTINCT T.*
     FROM ANA_TABLO T,ODS.USERS_LO_VW LOVW
     WHERE 1=1
 AND  T.LAW_OFFICE_ID=LOVW.LAW_OFFICE_ID
 --AND LOVW.LAW_OFFICE_ID=11 
    ),
    
    
        DUMMY AS
        (
        SELECT DISTINCT A.TRANSFER_YILAY, 
        TO_CHAR(C.YILAY) PAYMENT_YILAY,
        A.LAW_OFFICE_ID,
        CASE WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 0 THEN '30'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 1 THEN '60'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY= 2 THEN '90'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY= 3 THEN '120'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 4 THEN '150'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 5 THEN '180'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 6 THEN '210'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 7 THEN '240'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 8 THEN '270'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 9 THEN '300'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY = 10 THEN '330'
        WHEN TO_CHAR(C.YILAY) - TRANSFER_YILAY= 11 THEN '360' END BASLIK,
        A.ASIL_ALACAK,
        A.TAHSILAT,
        A.RUNNING_SUM ,
        A.PERFORMANS_ORANI 
        FROM DASHBOARD.THEMIS_SC_DASH_PHUB C,
        (SELECT TO_CHAR(SYSDATE,'yyyymm') SYSMONTH ,TRANSFER_YILAY, PAYMENT_YILAY,LAW_OFFICE_ID,BASLIK,TAHSILAT,RUNNING_SUM ,ASIL_ALACAK,PERFORMANS_ORANI
        FROM (
        SELECT DISTINCT TRANSFER_YILAY, RANK() OVER (PARTITION BY TRANSFER_YILAY ORDER BY PAYMENT_YILAY DESC ) RANK ,PERFORMANS_ORANI,PAYMENT_YILAY,
        LAW_OFFICE_ID, BASLIK , TAHSILAT , RUNNING_SUM, ASIL_ALACAK
        FROM ANA_TABLO_JOIN
           ) B
        WHERE RANK =1)A
        WHERE C.YILAY BETWEEN TO_CHAR(ADD_MONTHS(TO_DATE(A.PAYMENT_YILAY||'01','yyyymmdd'),1),'yyyymm') AND A.SYSMONTH
        )
        SELECT TRANSFER_YILAY,PAYMENT_YILAY,LAW_OFFICE_ID,BASLIK,TAHSILAT,RUNNING_SUM ,ASIL_ALACAK,PERFORMANS_ORANI FROM ANA_TABLO_JOIN
        UNION ALL
        SELECT TRANSFER_YILAY,PAYMENT_YILAY,LAW_OFFICE_ID,BASLIK,TAHSILAT,RUNNING_SUM ,ASIL_ALACAK,PERFORMANS_ORANI FROM DUMMY
        ORDER BY 1,2,4
